body {
  background-color: #0C0066; /* Changed Hex color to pass accessibility requirements */
  color: 00FFA2; /* Changed Hex color to pass accessibility requirements */
  font-size: 16px; /* Added font-size of 16px */
  line-height: normal; /* Added line-height */
  text-decoration: none; /* Removed reference to underline links */
}

a:link { /** NEW added this grouping so that it occurs outside the body **/
  color: #003C66;
}

a:hover {/** NEW added this grouping so that it occurs outside the body **/
  color: #0C0066;
}

h1 { /** Added new h1 grouping font size, and line-height indicator **/
  font-size: 2em; /** NEW removed spaces between 2 em so that it now reads 2em **/
  line-height: 2em; /** NEW removed spaces between 2 em so that it now reads 2em **/
}

p { /** Added new p grouping font size, and line-height indicator **/
  font-size: 2em;
  line-height: 2em; /** NEW removed spaces between 2 em so that it now reads 2em **/
}

h2 { /** Added new h2 grouping, font size, and line-height indicator **/
  font-size: 1.5em; /** NEW removed spaces between 1.5 em so that it now reads 1.5em **/
  line-height: 2em; /** NEW removed spaces between 2 em so that it now reads 2em **/
}

h3 { /** Added new h23 grouping font size, and line-height indicator **/
  font-size: 1.2em; /** NEW removed spaces between 1.2 em so that it now reads 1.22em **/
  line-height: 2em; /** NEW removed spaces between 2 em so that it now reads 2em **/ 
}

nav {
  background-color: #ffffff; /*Changed RGBA from (0,0,0,.5) to #ffffff */
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  background-image: url (http://www.gettyimage.com); /* Added background image property */
  background-position: center; /* Added background position */
  background-repeat: repeat; /* Added background repeat */
  margin: 20px;
  width: 100px;
}

.large-pic {
  background: #fff url (http://www.gettyimage.com) no-repeat top center; /* Added background image, background repeat, and background position properties */
  width: 100%;
}

.medium-pic {
  background: #fff url (http://www.gettyimage.com) no-repeat bottom center; /* Added background image, background repeat, and background position properties property */
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
  font-weight: 700; /* Added font-weight */
  line-height: normal; /* Added line-height */
}

.container {
  margin: 0 auto;
  width: 50%;
}
